[2017-12-08 23:50] karenword opened #5 "Cell references off after inserting column"
References in this instruction: "Select the cell b4 and insert the formula '=IF($F4="Year",$G4,$B3)" need to be adjusted to reflect the column added in a previous step. Should reference G4... H4.

[2017-12-08 23:56] karenword commented on #5
(Also holds for similar instructions in Step 4.)
https://data-lessons.github.io/spreadsheets-socialsci/02-Re-formatting%20a%20spreadsheet%20report/

[2017-12-09 00:06] karenword commented on #5
Probably related, so I'll add here: there is also a missing instruction for filling in a 4th column starting at d4. This results in there being no "Column4" as referenced in Step 8.

[2017-12-09 00:54] karenword opened #6 "Dates and Date Formatting needs a file download step/link"
The file for this activity appears to be present in the repo but is not linked anywhere in the episode:
https://github.com/data-lessons/spreadsheets-socialsci/blob/gh-pages/data/dates_1.csv

[2017-12-09 01:14] karenword opened #7 "PC/Mac issues"
Running through this lesson on a Mac running Excel v 15.40 (2017), I've encountered several problems. Some minor, some major. Will continue to list these here as I find them. So far:
1) "paste values" is instead "paste special -> values and numbers" on a mac
2) dates on a mac default to January 1 1904 as the date for value 1. This is an additional problem with date formatting compatibility.
3) **M

[2018-03-29 21:45] chris-prener commented on #6
thanks @karenword - I'm just getting up to speed with this lesson - you're saying this is an extra file that is not used, correct?

[2018-04-12 15:41] ErinBecker opened #14 "Lesson release checklist"
## Lesson Release checklist

**For each lesson release, copy this checklist to an issue and check off
during preparation for release**

Scheduled Freeze Date:   2018-04-27
Scheduled Release Date:  2018-04-30

Checklist of tasks to complete before release:

- [x] check that the learning objectives reflect the content of the lessons
- [x] check that learning objectives are phrased as statements usin

[2018-04-12 20:58] ErinBecker opened #15 "Add items to index page"
Index is missing a title, a intro description paragraph, and prerequisites.

[2018-04-12 20:59] ErinBecker commented on #15
Examples to work from:
http://www.datacarpentry.org/spreadsheet-ecology-lesson/
http://www.datacarpentry.org/organization-genomics/

[2018-04-12 21:17] ErinBecker opened #16 "move "spreadsheets outline" to index page"
The first episode has some text like:

In this lesson, we’re going to talk about:
Using best practice to create your own data tables in spreadsheets
Reformatting existing spreadsheets (using Excel)
Recognising and reformatting dates in spreadsheets
Basic quality control; using data validation and Data entry forms (in Excel)
Exporting data from spreadsheets

This can be moved to the index page and

[2018-04-12 21:18] ErinBecker commented on #15
See https://github.com/datacarpentry/spreadsheets-socialsci/issues/16 for suggested language for intro description paragraph.

[2018-04-12 21:19] ErinBecker opened #17 "link to download pages for openoffice and libreoffice"
The first episode has:

This should include links to LibreOffice and OpenOffice download pages.

[2018-04-12 21:20] ErinBecker opened #18 "very short paragraphs look odd"
The [first episode](http://www.datacarpentry.org/spreadsheets-socialsci/01-creating-tables/) has a section with a lot of one sentence paragraphs. These look very strange to me. It would be better to collapse this to one or two paragraphs.

[2018-04-12 21:22] ErinBecker opened #19 "remove unnecessary jargon"
In episode one there is this text:

The term "boolean" is probably not familiar to many people. Could remove this jargon and/or add a parenthesis saying something like "True" vs "TRUE".

[2018-04-12 21:54] ErinBecker opened #20 "add caveat about manually reformatting spreadsheets"
Episode 2 has a good exercise for fixing formatting issues in a badly formatted spreadsheet, however this may lead the learner to infer that manually formatting a spreadsheet is good practice (despite the fact that it's not reproducible). It would be good to note here the following (with a little exposition of each):

- This exercise is provided as an example of what good formatting looks like and

[2018-04-12 21:56] ErinBecker opened #21 "add exercise to integrate metadata and formatting parts of episode 3 (formatting problems)"
[This episode](http://www.datacarpentry.org/spreadsheets-socialsci/03-formatting-problems/) has two sections that aren't explicitly tied together. It would be good to add an exercise to the metadata portion of this episode that asks the learners to discuss what type of metadata would be needed to support the data that is shown in the spreadsheet from the first exercise in that episode.

[2018-04-12 22:02] ErinBecker opened #22 "caveat for date handling"
[Episode 4](http://www.datacarpentry.org/spreadsheets-socialsci/04-dates/) has the text:

The phrase "they appear as you would expect" is somewhat misleading. They may or may not appear as you would expect! If, for example, you are a researcher from the US working in the UK and using your new lab's computer and software, you may type in a US date and have it render according to UK rules. Alternati

[2018-04-12 22:05] ErinBecker opened #23 "more caveats for date handling"
In [Episode 4](http://www.datacarpentry.org/spreadsheets-socialsci/04-dates/) it would be good to mention somewhere in the section "dates Excel doesn't recognize" or "dates Excel gets wrong" that different versions of Excel will perform differently. For example, different versions of Excel treat different dates as "day 1" for the purpose of calculating the numerical value of a date.

[2018-04-12 22:09] ErinBecker commented on #18
The first section in the [fifth episode](http://www.datacarpentry.org/spreadsheets-socialsci/05-quality-control/) also has this issue.

[2018-04-13 00:14] chris-prener commented on #22
see also #23

[2018-04-13 00:17] chris-prener commented on #18
Agreed @ErinBecker

[2018-04-13 17:02] karenword commented on #6
This problem appears to have been resolved (or else I failed to note the link previously). There is now a link to this file in the relevant lesson.

[2018-04-13 17:02] #6 closed

[2018-04-16 12:47] PeterSmyth12 commented on #5
This was corrected (back in December) by removing a blank column in the spreadsheet, so all of th formula now align correctly. The correct version of the spreadsheet is in the /data folder

[2018-04-23 17:34] #5 closed

[2018-04-23 17:34] ErinBecker commented on #5
Thanks for clarifying @karenword. I'll close this issue.

[2018-04-23 17:44] ErinBecker commented on #16
Fixed with https://github.com/datacarpentry/spreadsheets-socialsci/pull/26

[2018-04-23 17:46] ErinBecker commented on #17
Fixed with https://github.com/datacarpentry/spreadsheets-socialsci/pull/25. Top of the episode now has a callout box (Prereqs style) to remind learner to install a spreadsheet program. This include links to the setup instructions.

[2018-04-23 17:46] #17 closed

[2018-04-23 17:47] ErinBecker commented on #18
Closed with #25.

[2018-04-23 17:47] #18 closed

[2018-04-23 17:48] ErinBecker commented on #16
#26 added this information to the index page, but didn't remote this info from the episode page.

[2018-04-23 17:50] ErinBecker commented on #16
The analogous episode of the Ecology lesson (http://www.datacarpentry.org/spreadsheet-ecology-lesson/00-intro/) also includes this info, so I guess we can keep it here.

[2018-04-23 17:50] #16 closed

[2018-04-23 17:58] ErinBecker opened #29 "host data on Figshare"
Currently, the data for this lesson lives in this repo ((here)[https://github.com/datacarpentry/spreadsheets-socialsci/tree/gh-pages/data]), but it should be hosted on Figshare.

[2018-04-23 18:11] #19 closed

[2018-04-23 18:11] #15 closed

[2018-04-23 18:21] ErinBecker opened #30 "remove coloration and special formatting from report_data_c.xlsx"
Episode 02-reformatting includes an Excel spreadsheet which is intended to be an example of good formatting. However, it includes special formatting like colored celled and text coloration that should be removed.

[2018-04-23 18:24] ErinBecker opened #31 "clarify report_data_o.xlsx"
Episode 02-reformatting includes an Excel spreadsheet titled "report_data_o.xlsx". This spreadsheet has a number of individual tables, with each having another header bar off to the right side of that table. It wasn't clear to me at first, but that second header bar is meant to apply to the table to it's left (as extra metadata) and not to be a header for another independent table. Those headers c

[2018-04-23 18:32] ErinBecker opened #32 "introduce report_data spreadsheets"
Describe data being used for report_data_c.xlsx and report_data_o.xlsx

What is the "Reading" variable and what units is it in?
Where are "North" and "South" regions of?
Is this modified from real data that is available somewhere?

These questions should be answered when the data is first introduced.

[2018-04-23 18:34] ErinBecker opened #33 "add screenshots for report_data spreadsheets"
The beginning of episode 02-reformatting discusses two report_data Excel spreadsheets. There should be screenshots here to illustrate the tables.

[2018-04-23 19:25] sechilds opened #35 "They key points for Episode 2 are unclear"
The text for Episode 2's key points is a bit unclear:

I saw this when I was reviewing #34

For the first point, we are referring to plural and singular heading lines in the same sentence.

[2018-04-25 19:41] PeterSmyth12 commented on #31
@ErinBecker you seem to be asking to change one badly formatted layout for another.  If it was changed, then half the formulae in the walk through exercise would have to be changed as well.

[2018-04-25 19:45] ErinBecker commented on #31
@PeterSmyth12 - it's true that the formulae would need to be changed, and that's an important point to consider. However, the way this report is currently formatted, I couldn't tell after looking at it several times what the intention of the reporter was in including the second header row off to the right side, rather than combined with the table data. I interpreted it as another table of data tha

[2018-04-25 19:53] PeterSmyth12 commented on #30
The 'special' formatting is introduced automatically by Excel when the data is made into a table in step 5 of the process. There is no information content in the coloring, it aids readability. When you export the data, nothing is lost.
Surely the point about not using colour is that it masks information that can be lost?

[2018-04-25 20:12] PeterSmyth12 commented on #32
Replace
-----------
In this episode we are going to look a spreadsheet which has been designed as if it was to be a printed report rather than a single data table. We will highlight the problems with the layout and then provide instructions on how it might be changed to be more usable for analysis.

The spreadsheet can be downloaded from here.

The problems that we can see are as follows:

    Whi

[2018-04-26 15:18] ErinBecker commented on #31
I'm working on this issue now.

[2018-04-26 15:47] ErinBecker opened #37 "reorganization of this lesson"
I'm working through the lesson and noticed that there are multiple "toy" datasets that are used for different parts of the lesson. Generally, in Data Carpentry lessons, we try to build all examples around a single dataset (as much as possible) and to have that dataset be somewhat realistic in terms of what the learners would be working with in their everyday workflow.

This lesson currently uses:

[2018-04-26 15:48] ErinBecker commented on #31
Closed in favor of solution proposed in https://github.com/datacarpentry/spreadsheets-socialsci/issues/37.

[2018-04-26 15:48] #31 closed

[2018-04-26 15:48] ErinBecker commented on #33
Closed in favor of solution proposed in #37.

[2018-04-26 15:48] #33 closed

[2018-04-26 15:49] ErinBecker commented on #32
Closed in favor of solution proposed in #37.

[2018-04-26 15:49] #32 closed

[2018-04-26 15:49] ErinBecker commented on #30
Closed in favor of solution proposed in #37.

[2018-04-26 15:49] #30 closed

[2018-04-26 15:49] ErinBecker commented on #20
Closed in favor of solution proposed in #37.

[2018-04-26 15:49] #20 closed

[2018-04-26 15:49] ErinBecker commented on #21
Closed in favor of solution proposed in #37.

[2018-04-26 15:49] #21 closed

[2018-04-26 15:56] ErinBecker commented on #37
Some information about SAFI: http://www.safi-research.org/

[2018-04-26 17:15] PeterSmyth12 commented on #37
Hi Erin,

I didn’t know they had a website, but even so you won’t find the data as it hasn’t been published yet.

Regards,

Peter

______________________________________________________________________________________
Peter Smyth
Research Associate
______________________________________________________________________________________
T +44 (0) 161 275 0273
E peter.smyth@manchester.ac.uk<mailto:pet

[2018-05-01 19:36] fmichonneau opened #41 "reword advice about dealing with data fields that contains commas"
The [CSV file specification](https://tools.ietf.org/html/rfc4180#page-2) makes it clear that fields with coma should be enclosed with double-quotes, and are therefore supported. A better recommendation might be to not change the default used by the spreadsheet program in how the text fields are handled.

[2018-05-01 19:50] ErinBecker commented on #41
@fmichonneau could you point out the specific section in that episode that is problematic?

[2018-05-01 19:54] fmichonneau commented on #41
sorry I thought I did: https://github.com/datacarpentry/spreadsheets-socialsci/blob/gh-pages/_episodes/05-exporting-data.md#caveats-on-commas

[2018-05-01 23:16] fmichonneau opened #42 "remove mention of openoffice in setup"

[2018-05-01 23:17] fmichonneau opened #43 "download links in setup are broken"
depending on where the data end up, we'll need to update the download link

[2018-05-04 18:45] fmichonneau opened #44 "A description of the dataset is needed"
- The goal of the study needs be articulated
- All the variables included in the dataset need to be described, and why they are included in the dataset needs to be explained
- The type of questions that can be asked from the data needs to be articulated
- The full citation information for the dataset needs to be included (as well as possible links to published studies using the dataset).

[2018-05-04 18:48] fmichonneau opened #45 "Simplify installation instructions for libreoffice"
they are exactly repeated for the 3 OSes

[2018-05-04 20:03] fmichonneau opened #47 "Add mention of "data organization in spreadsheets""
It's a well-written, comprehensive, concise paper that covers many of the same points made in the lesson: https://www.tandfonline.com/doi/full/10.1080/00031305.2017.1375989

Can be added in lesson 1, along with Hadley Wickham's tidy data paper.

[2018-05-04 20:13] fmichonneau opened #48 "Section about metadata should mention metadata standards"
metadata is more useful if it follows a standard. A quick search indicates that DDI (http://www.ddialliance.org/training/why-use-ddi) is used in the social sciences. Also indicate that librarians might be able to provide help and guidance with this.

[2018-05-17 19:44] ErinBecker commented on #7
Thanks @karenword for raising these issues. I've worked through the lesson now on my Mac (Excel v15.30) and was able to complete the lesson without incident. There are a few (I think minor) differences in menu item names among different versions of Excel, but this isn't something that we'll be able to standardize with so many different versions of Excel out there. Given that the lessons can be wor

[2018-05-17 19:46] ErinBecker commented on #22
Fixed with https://github.com/datacarpentry/spreadsheets-socialsci/pull/38

[2018-05-17 19:46] #22 closed

[2018-05-17 19:46] ErinBecker commented on #23
Fixed with https://github.com/datacarpentry/spreadsheets-socialsci/pull/38

[2018-05-17 19:46] #23 closed

[2018-05-17 19:47] ErinBecker commented on #29
Fixed with https://github.com/datacarpentry/socialsci-workshop/pull/11

[2018-05-17 19:48] #29 closed

[2018-05-17 19:49] ErinBecker commented on #35
Thanks @sechilds. The keypoints for all of the episodes have been updated in the past week or so. Episode 2 keypoints are now:

- "Avoid using multiple tables within one spreadsheet."
- "Avoid spreading data across multiple tabs (but do use a new tab to record data cleaning or manipulations)."
- "Record zeros as zeros."
- "Use an appropriate null value to record missing data."
- "Don't use formatt

[2018-05-17 19:49] #35 closed

[2018-05-17 19:51] ErinBecker commented on #37
The data has now been published on Figshare and a link to the data publication has been added to the workshop homepage (https://github.com/datacarpentry/socialsci-workshop/pull/11)

[2018-05-17 19:51] #37 closed

[2018-05-17 19:53] ErinBecker opened #49 "fix data section in setup"
http://www.datacarpentry.org/spreadsheets-socialsci/setup/ is out of date. Needs link to SAFI data and for links to old datasets to be removed.

[2018-05-17 19:55] #42 closed

[2018-05-17 19:55] ErinBecker commented on #43
Duplicate with https://github.com/datacarpentry/spreadsheets-socialsci/issues/49.

[2018-05-17 19:55] #43 closed

[2018-05-17 19:56] ErinBecker commented on #44
See http://www.datacarpentry.org/socialsci-workshop/data/.

[2018-05-17 19:57] ErinBecker commented on #44
Since a link to this data description will be added in addressing https://github.com/datacarpentry/spreadsheets-socialsci/issues/49, I am closing this issue as a duplicate.

[2018-05-17 19:57] #44 closed

[2018-05-17 19:57] ErinBecker commented on #49
Link back to http://www.datacarpentry.org/socialsci-workshop/data/.

[2018-05-17 22:29] #47 closed

[2018-05-17 22:35] ErinBecker commented on #45
This is intentional. My understanding is that the instructions are set up this way in general for cases where there *are* differences in install between the three systems. This is also how things are formatted in the [spreadsheets ecology lesson](http://www.datacarpentry.org/spreadsheet-ecology-lesson/setup/). I will mark this as "out of scope" for now as it seems to me more of a general formattin

[2018-05-17 22:35] #45 closed

[2018-05-17 22:36] ErinBecker commented on #48
This would be a fantastic addition to the lessons. I will mark as "refer-to-cac" with the hopes that the Curriculum Advisory Committee can help increase the detail and usefulness of the metadata section in preparation for the next release cycle.

[2018-05-18 18:26] ErinBecker commented on #14
Added instructors guide with https://github.com/datacarpentry/spreadsheets-socialsci/pull/55

[2018-05-18 18:28] ErinBecker commented on #14
This lesson is ready for publication after merging https://github.com/datacarpentry/spreadsheets-socialsci/pull/55, addressing https://github.com/datacarpentry/spreadsheets-socialsci/issues/49 and running the automated checks for typos and link errors. @fmichonneau

[2018-05-19 13:01] #41 closed

[2018-05-20 11:25] fmichonneau opened #56 "A glossary is needed"
There is no glossary in http://www.datacarpentry.org/socialsci-workshop/reference/

[2018-05-20 11:28] fmichonneau commented on #49
setup instructions are now up to date.

[2018-05-20 11:28] #49 closed

[2018-05-20 12:11] #14 closed

[2018-06-11 20:43] fmichonneau opened #60 "Transition to standardized GitHub labels"
The lesson infrastructure committee unanimously [approved](https://github.com/carpentries/lesson-infrastructure/blob/master/2018-05-23-minutes.md#github-labels-to-use-across-our-lessons) the proposal of using the same [set of labels](https://docs.carpentries.org/topic_folders/maintainers/github_labels.html) across all our repositories during its last meeting on May 23rd, 2018.

This repository has

[2018-06-27 21:13] ErinBecker opened #62 "libreoffice automatically uses semicolons as separators"
Learners who are using LibreOffice for the workshop will have problems with the dataset as the default for LibreOffice is to treat tabs, commas, AND semicolons as delimiters. Need to add this to the instructor notes or a callout. Learners can select to use just commas as delimiters.

[2018-06-27 21:15] ErinBecker opened #63 "Numbers does not have data validation"
Learners working on Numbers will need to install LibreOffice. This should be added to Instructor Notes.

[2018-06-27 21:17] chris-prener commented on #63
Got it. Happy to add that, but can I ask why? Just curious as a Mac user who does a lot of work in Numbers!

[2018-06-27 21:18] ErinBecker opened #64 "Dates spreadsheet value errors"
In the dates as data episode, the spreadsheet has two tabs. The first tab is data stored as DD-MM-YYYY, the second is MM-DD-YYYY. If learners use the wrong tab for their location, they will get a `#VALUE` error. This should be added to Instructor notes.

[2018-06-27 21:39] ErinBecker commented on #63
Wow, speedy response! I'm at a workshop now and there were several learners using Numbers that didn't have the data validation option so couldn't do that exercise.

[2018-06-27 21:41] chris-prener commented on #62
I'll have to download LibreOffice and try and replicate this, but my initial thought is that both the instructor notes and a callout are warranted here...

[2018-06-27 21:42] chris-prener commented on #63
happened to be sitting here doing some Git stuff anyway!

OK - let me do a little digging on this...

[2018-06-27 21:43] chris-prener commented on #56
Thanks @fmichonneau - if folks have taught this before and want to suggest relevant items - it would be much appreciated!

[2018-06-27 23:13] ErinBecker opened #65 "non-english versions of Excel"
If learners are using a non-English language version of Excel, the `=MONTH()`, `=DAY()`, etc functions won't work for them. They will need to type in their language's equivalent of that word in the formula.

Add to instructor notes?

[2018-06-28 13:26] fmichonneau commented on #65
Wow! Does it mean you can't share a spreadsheet file among colleagues that have non-English Excel versions?

[2018-06-28 16:01] enfascination opened #66 "Codebooks as social science metadata"
Just to help bridge the curriculum to social sciences, its worth mentioning familiar forms of metadata in the social sciences. Survey researchers often write codebooks that explain their questions.  Still, a codebook does not have other essential metadata info, like when/where a dataset was collected from.

[2018-06-28 16:05] enfascination commented on #63
... and Google Sheets does. It's a right click.

[2018-06-28 19:05] chris-prener commented on #63
thanks @enfascination - @ErinBecker - should the CAC talk about whether Google Sheets is a good possible option?

[2018-06-28 19:06] chris-prener commented on #66
thanks for the suggestion @enfascination - what are your thoughts @ErinBecker ?

[2018-06-29 20:53] ErinBecker opened #67 "action items from Curriculum Advisors"
The Social Sciences CAC (social-sciences-curriculum-advisors@carpentries.org) met June 15th and 19th to discuss the full Social Sciences curriculum and provide recommendations to the Maintainers about work for these lessons between now and their next publication (December 2018). Their specific action items for this lesson are as follows:

- Adding list of metadata resources to Spreadsheets lesson

[2018-06-29 22:18] ErinBecker commented on #66
This sounds like a good suggestion and is in line with the [Curriculum Advisors](https://github.com/datacarpentry/spreadsheets-socialsci/issues/67) suggested action items for this lesson before it's next publication in December.

[2018-06-29 22:20] ErinBecker commented on #65
I'm not sure if Excel will automatically translate function names if you open the sheet in a different version. Either way, I think this is another good illustration of why to share your data files as .csv or something similar (rather than Excel or another proprietary format).

[2018-06-29 22:21] ErinBecker commented on #63
@enfascination @chris-prener, my advice (based only on seeing this workshop twice) would be to recommend that everyone either use Excel or LibreOffice for the exercises. Most people already have and work with Excel, but for those who don't, LibreOffice installs and is ready to use in about a minute, and doesn't need a specific account (I guess some people may still not have Google accounts).

[2018-06-29 22:22] ErinBecker commented on #63
So my concrete suggestion for this is to remove the one reference to Numbers in one of the callout boxes in this lesson, and add a note that everyone should be using either Excel or LibreOffice for this lesson.

[2018-06-29 22:23] ErinBecker commented on #62
I agree - both Instructor notes and a callout would be good. This happened to two people at the first workshop I was at, and another two people at the second workshop. The fix is quite simple (when opening LibreOffice, deselect the "semicolons" and "tabs" checkboxes, but it isn't something that people will realize they need to do if not prompted.

[2018-06-29 22:24] ErinBecker commented on #48
See also https://github.com/datacarpentry/spreadsheets-socialsci/issues/67

[2018-07-17 13:57] #60 closed

[2018-09-18 11:15] marksnyders commented on #56
Started creating a reference from the ecology lesson #69

[2018-10-23 22:20] ErinBecker commented on #65
@chris-prener - I'm going to be running onboarding sessions for Instructors to prep for teaching Social Science pilot workshops starting next Monday. Any chance we could get this tip into the Instructor Notes before then? Let me know if you need a hand.

[2018-10-23 22:20] ErinBecker commented on #64
@chris-prener - I'm going to be running onboarding sessions for Instructors to prep for teaching Social Science pilot workshops starting next Monday. Any chance we could get this tip into the Instructor Notes before then? Let me know if you need a hand.

[2018-10-24 00:48] chris-prener commented on #56
@ErinBecker - if glossary items come up during the onboarding can you add terms to this and I'll get them into the glossary?

[2018-10-24 00:49] chris-prener commented on #65
Create a milestone and will go through what I can Thursday morning - sorry these issues fell off my radar!

[2018-10-27 00:59] chris-prener commented on #65
*Update:* addressed; will be included in next PR and I'll close after the PR is accepted

[2018-10-27 01:01] chris-prener commented on #64
*Update*: addressed; will be included in next PR and I'll close after the PR is accepted

[2018-10-27 01:04] chris-prener commented on #63
*Update*: addressed; will be included in next PR and I'll close after the PR is accepted

[2018-10-27 01:10] chris-prener commented on #62
*Update*: addressed; will be included in next PR and I'll close after the PR is accepted. There is a note in the `Formatting Data` section of the instructor guide **and** I've added a callout in Episode 01 right before they first import data to start working with it.

[2018-10-28 19:19] #67 closed

[2018-10-28 19:19] #66 closed

[2018-10-28 19:19] #65 closed

[2018-10-28 19:19] #64 closed

[2018-10-28 19:19] #63 closed

[2018-10-28 19:19] #62 closed

[2018-10-28 19:19] #48 closed

[2018-11-05 22:17] sheraaron opened #71 "Check-out - Jargon Buster"
Good day,

On this page: https://datacarpentry.org/spreadsheets-socialsci/, I would like to add: (Under - "In this lesson, you will learn:" To enable us to use data successfully)

It is my honest suggestion that the "Jargon Buster" hour can be saved by sending people a list of jargon words to learn "before" they join the group, especially if they have never programmed before.

I also suggest to ad

[2018-11-07 12:57] chris-prener commented on #71
Hey @sheraaron - thanks for your feedback. I'll leave this open for now so we can discuss your second point (the length/breadth of the jargon buster hour). I'm going to open issues based on the other two suggestions.

[2018-11-07 16:08] chris-prener opened #72 "Clarifying data download in "Things You'll Need""
@sheraaron suggests the following change to the intro page:

Under Things you'll need to complete this tutorial: Open a folder on your computer and save all your spreadsheets necessary for this exercise.

This makes sense to me - any objections to this change @ErinBecker and/or @fmichonneau?

---

This was originally submitted as issue #71

[2018-11-07 16:10] chris-prener opened #73 "Updating learning outcomes"
@sheraaron suggests the following change:

@ErinBecker and/or @fmichonneau - do changes to the outcomes need to be routed through the CAC?

---

This was originally submitted as issue #71

[2018-11-07 16:41] ErinBecker commented on #73
@chris-prener - changes to learning objectives / outcomes do not need to be approved by the CAC, but can be determined by the individual Maintainers for the lesson. I'm not sure exactly what is being proposed here though. Is the outcome that is being added "to enable us to use data successfully"? That seems rather vague to me.

[2018-11-07 16:43] chris-prener commented on #73
yeah it seems more motivational than anything else - @sheraaron - can you weigh in and perhaps clarify what you were hoping to do with this outcome?

[2018-11-07 21:47] chris-prener commented on #72
Great - will put this in the next milestone

[2018-11-07 21:50] chris-prener commented on #7
Any feedback @ErinBecker from the recent training here?

[2018-11-07 22:35] ErinBecker commented on #7
I didn't run into any issues during the training that @karenword  and I were involved with that we haven't already listed in other issues in this repo. I would personally be comfortable closing this issue, but would like confirmation from @karenword or other Instructors who have taught this curriculum.

[2018-11-08 12:21] chris-prener commented on #7
OK sounds good @ErinBecker - is there a way to get feedback from them (I assume a mailing list)?

[2018-11-16 00:39] ErinBecker commented on #7
Not a mailing list, unfortunately. Right now, I'm emailing individual
Instructors who are running pilots and asking them to submit feedback to
the issue here:
https://github.com/datacarpentry/socialsci-workshop/issues/25. there
haven't been many pilots so far, but I am talking with some Instructors who
are teaching in January and will be giving feedback after that.

On Thu, Nov 8, 2018 at 4:21 AM

[2018-11-19 12:19] chris-prener commented on #7
ok sounds awesome @ErinBecker thanks!

[2019-01-11 01:05] brownsarahm opened #75 "Flow of formatting errors/metadata section (episdoes 2-3)"
The organization of the beginning of this lesson as written feels either repetitive or mysterious.  I taught it for the second time today and I switched the order some that made it flow a little more smoothly I think.  I'd like to recommend a fairly significant reorganization. of the content in the first 3 episodes.

the suggested new material came up because the host site I taught at today the li

[2019-01-13 19:17] chris-prener commented on #75
Really appreciate the feedback @brownsarahm - @ErinBecker - since this is a significant change, we should probably kick it back to the CAC?

[2019-01-18 17:08] chris-prener commented on #75
OK sounds good - I'll be able to dive into this next week I think!

[2019-01-18 23:32] brownsarahm commented on #75
I can also at least start this and I've sent a note to the host from NYU to ask for more resources on metadata.

[2019-01-19 19:37] chris-prener commented on #75
I'd love the help @brownsarahm - do you want to take a first pass and then I'll take a second?

[2019-01-29 19:38] chris-prener commented on #75
this is great @VickySteeves - I really appreciate the detailed notes. I really like the ICPSR example and your example for searching OSF as an example of discovery metadata. Up to you how you and @brownsarahm want to organize next steps. I'm happy to help, or take a second pass - totally up to you both!

[2019-02-22 16:29] brownsarahm commented on #75
I started a PR #76, allowed edits from maintainers and added @VickySteeves as a collaborator so we can keep iterating on it.

[2019-02-27 16:35] chris-prener commented on #75
Great thanks @brownsarahm - I'll try and check in on this next week!

[2019-03-03 15:20] MaraSedlins opened #78 "Numbers spreadsheet program"
The Introduction section refers to the Numbers spreadsheet program as an example of what students could use during the workshop (under "Things You'll Need To Complete This Tutorial"), but in the Setup instructions, learners are told not to use Apple's Numbers because it does not contain some of the necessary features.

[2019-03-03 15:37] MaraSedlins opened #79 "Using multiple tabs"
Reading over the lesson, I found conflicting a advice about whether it's advisable to use multiple tabs in Excel. In "Formatting data tables in Spreadsheets"/"Keeping track of your analyses", it's suggested to keep notes about your experiment in a new tab to keep the information together with your data. However, when you export an Excel spreadsheet to CSV for preservation/interoperability as recom

[2019-03-03 21:35] MaraSedlins opened #82 "Error alert vs. input message"
In the Quality assurance episode, the example input message given ("Invalid number: Number of household members must be a whole number between 1 and 30.") would be more appropriate as an error alert message.

[2019-03-13 15:47] chris-prener commented on #78
Thanks @MaraSedlins - we should remove this reference!

[2019-03-13 15:49] chris-prener commented on #79
Thanks for the feedback @MaraSedlins! @VickySteeves and @brownsarahm - since you both have experience with this lesson - do you have thoughts on this issue

[2019-03-13 15:51] chris-prener commented on #82
I don't use this particular feature - can you give me some feedback in terms of when I would use the input message vs when to use an error message @MaraSedlins ?

[2019-03-13 16:02] MaraSedlins commented on #82
The input message is what appears when an input cell is selected, and is meant to give guidance on what values are appropriate. An error message is what appears in a pop-up window when an invalid value is entered. I think a better example of an input message in this case would be "Title: Household members, Input message: Please enter a whole number between 1 and 30."

[2019-03-13 21:58] brownsarahm commented on #79
I agree consistency is better.  However, if you're entering your data using a spreadsheet at all, using excel sheets to separate data from metadata (notes) is a better practice than for example mixingn data and notes in a single sheet.

My inclination is that close-to-good even if not ideal practices are valuable advice.  Maybe we can make it more clear that we recommend spreadsheet software as an

[2019-03-13 22:18] MaraSedlins commented on #79
@brownsarahm that makes sense to me!

[2019-03-14 19:19] chris-prener commented on #82
Gotcha - thanks @MaraSedlins. I like the example a lot - I'm happy to take a PR or do it myself - up to you!

[2019-03-14 19:23] chris-prener commented on #79
I like your proposal @brownsarahm. I think it would be good to give some examples of "so you've got your metadata in the second sheet... now what!?"

[2019-03-14 20:31] MaraSedlins commented on #82
@chris-prener Great! I'd make a PR except I'm working on a PC instead of a Mac, so the screenshot would be inconsistent with the rest of the images. Could you make the change, please?

[2019-03-19 13:52] chris-prener commented on #82
No worries @MaraSedlins - we can take care of that! Thanks for all your contributions to this repo!

[2019-04-05 21:17] jrkleinfsulib opened #85 "suggestion for metadata section on missing values"
Suggestions for edits/additional content
Data Organization in Spreadsheets for Social Scientists
	Formatting data tables in Spreadsheets
		Metadata

Some of this information may be familiar to learners who collect or analyze survey data or data sets accompanied with additional data documentation, such as codebooks. Codebooks will often describe the original survey or interview questions associated

[2019-04-16 21:43] fmichonneau opened #86 "June 2019 Lesson Release checklist"
If your Maintainer team has decided not to participate in the [June 2019 lesson release](https://carpentries.topicbox.com/groups/maintainers/T61c75ac1a8a89538/timeline-and-process-for-june-lesson-release), please close this issue.

To have this lesson included in the 18 June 2019 release, please confirm that the following items are true:

- [ ] Example code chunks run as expected
- [ ] Challenges

[2019-04-30 15:23] wesapone commented on #56
I would like to contribute to a glossary project for this lesson to include terms such as matrix, data frames, datasets, and others ...

[2019-05-03 19:48] chris-prener commented on #56
would love to have you contribute, @wesapone! feel free to fork the repo and create some initial glossary items.

[2019-05-04 00:06] ErinBecker commented on #56
Thanks @wesapone and @marksnyders. @chris-prener - I didn't have any vocab items to add from the onboardings, sorry.

[2019-05-05 18:09] chris-prener commented on #56
No worries @ErinBecker!

[2019-05-05 19:50] WillavanDijk commented on #73
In the introduction section of this lesson, the learning objective is listed as: Understand how to organize data so computers can make the best use of the data.

I think the verb 'understand' is not measurable. This part of the lesson talks about the differences between the use of spreadsheets from a human and computer perspective. Would it make more sense to state the overall learning objective a

[2019-05-13 18:44] ErinBecker commented on #86
Closing this issue based on communication with @chris-prener. This lesson will not be part of the June 2019 release.

[2019-05-13 18:44] #86 closed

[2019-05-17 20:49] claremichaud opened #87 "Suggestion for Metadata Section"
When DDI (Data Documentation Initiative) is introduced, I think it would be beneficial to state that this standard is applicable across disciplines because it generally applies to being used for data from surveys and observational research methods commonly used in the social, behavioral, economic, and health sciences.

It can also be added that metadata files are commonly created and saved as XML

[2019-05-21 16:27] Carreau opened #88 "01-format-data/index.html, one link is 404"
Link lead to a 404.

[2019-05-21 20:17] Carreau opened #89 "Quality assurance: Excel refuse to validate data on CSV file."
the Quality assurance section suggest to open the clean CSV and apply Validation Rules.
Excel will refuse to do that until the CSV is re-saved as xlsx.

As we don't really use CSV until later, could/should(?) the default file be an XLSX ?

[2019-05-23 14:36] chris-prener commented on #87
Thanks @claremichaud - I'll fold this in as we edit this lesson!

[2019-05-23 14:37] chris-prener commented on #88
Thanks @Carreau - we'll try and track down a new link for this...

[2019-05-23 14:39] chris-prener commented on #89
My preference would be to continue to use `.csv` files but include language that it must be re-saved as this point to run the validation process. What version of Excel are you using, @Carreau, and what OS?

[2019-05-23 14:40] chris-prener commented on #73
Thanks for the feedback @WillavanDijk - I agree about the word 'understand' - will take a look at this...

[2019-05-23 15:48] Carreau commented on #89
Excel 16.25 (latest) and mac 10.14 (latest), we are teaching this lesson in a few minutes, so will see if this is a local issue and report back.

[2019-05-23 15:49] chris-prener commented on #89
Great, thanks @Carreau!

[2019-05-24 18:58] Carreau commented on #89
Well, that literally depend on Excel mood. My computer now is happy, but one  of the attendee (out of 12) had the issue during the workshop (on windows this time). It likely a case of ["can't print on Tuesday"](https://news.ycombinator.com/item?id=8171956)... so I guess we can close, or maybe just have an advisory for instructors this might happen

[2019-05-24 19:35] chris-prener commented on #89
Thanks for the update, @Carreau - curious behavior indeed. I think adding something to the instructor notes for this lesson is the best strategy. Could you perhaps try to get the behavior to occur again and take some screenshots? That would be really helpful for us as we update the instructor notes accordingly!

[2019-05-24 22:21] Carreau commented on #89
Screenshot won't help. Clicking the button to bring the validation dialog
just does nothing. The dialog refuses to pop up.

The button is not grayed or anything, it just does not trigger the dialog
to pop up.

The rest of the UI works fine.

On Fri, May 24, 2019, 12:35 Christopher Prener <notifications@github.com>
wrote:

[2019-05-28 13:08] chris-prener commented on #89
ok great - thanks for the details. I'll circle back around when I've made the change!

[2019-06-04 16:32] chris-prener commented on #85
Hey @jrkleinfsulib - sorry this fell through the cracks? I take it this is language you want to suggest... do you feel comfortable opening a PR with these changes?

[2019-06-04 16:33] chris-prener commented on #7
@ErinBecker - haven't seen any more feedback on this - should we close?

[2019-06-04 19:16] #7 closed

[2019-07-23 20:08] angela-li opened #92 "Identifying cells that break data validation rules"
The current [quality assurance section](https://datacarpentry.org/spreadsheets-socialsci/04-quality-assurance/index.html) states that "data validation rules are not applied retroactively to data that is already present in the cell".

However, in Excel, it's possible to highlight sections of your data that don't meet the data validation rules by clicking the drop-down next to "Data Validation" in E

[2019-10-03 14:53] AliNite opened #94 "readme file and SAFI_clean.csv"
Hi I'm planning to teach this fantastic workshop in a couple of weeks at the University of Bath. As I've been going through the lessons a couple of things struck me. The first was the need for a readme file for the data files so that we can model good research data management practice to students (I'm a research data librarian). The second is that SAFI_clean.csv has a couple of variables (items_ow

[2019-10-03 20:25] chris-prener commented on #94
Hi @AliNite - thanks for opening this. Do you want to create a pull request for the readme?

For the spreadsheet, I want to look through how its used and think about whether there would be any side effects here with this change.

[2019-10-04 12:39] AliNite commented on #94
HI Chris I'm completely new to GitHub, how to I create a pull request?

Re the spreadsheet - no worries at all. Looking at the course it seems it it usually followed immediately by the OpenRefine course which then deals with (to some extent) the two variables that I mentioned. So for people who are following it with OpenRefine then you wouldn't want to use the updated version of the spreadsheet. I

[2019-10-04 14:58] chris-prener commented on #94
hi @AliNite - you'd need to create a [fork](https://help.github.com/en/articles/fork-a-repo) of this repo, edit the README itself. Once you've edited the README, you can then push your changes to GitHub and [create a pull request](https://help.github.com/en/articles/about-pull-requests). If this seems like too much, I can also make the changes - but its a great way to get some experience using Git

[2019-10-04 15:29] AliNite commented on #94
Thanks @chris-prener I'll have a go on Monday when my colleague is in (he is very familiar with it!) just in case I get stuck and mess something up! Its good to learn!

[2019-10-04 20:12] chris-prener commented on #94
sounds good!

[2019-10-06 10:16] dpshelio opened #95 "topic for the repository"
Please, consider adding a `lesson` topic to the repository. To do so you can [follow the help about how to add topics to the repository](https://help.github.com/en/articles/classifying-your-repository-with-topics). Check out the topics that the [Genomics R intro lesson](https://github.com/datacarpentry/genomics-r-intro) has gotten to add others that may be relevant to this lesson.

This will help

[2019-10-08 12:47] AliNite commented on #94
@chris-prener I have (I think) edited the README file and have created a pull request for the changes. Please do let me know if I haven't done this properly or if you would like me to make any other changes.

[2019-10-08 13:54] chris-prener commented on #94
Great - I'll take a look tomorrow! Thanks @AliNite

[2019-10-09 00:50] jacquelyneneal commented on #92
It looks like Google Sheets has a similar functionality with its validation rules (not sure if this is a recommended program or not). Testing it out, the cell will be flagged with a warning if data validation rules are applied after entry.
![image](https://user-images.githubusercontent.com/5273921/66443447-bb9e6700-ea04-11e9-8ccf-a009caa41f81.png)

I have been testing out LibreOffice to see if it

[2019-10-09 15:19] chris-prener commented on #92
One of the challenges with this lesson in particular is that (a) the different spreadsheet apps have slightly different functionality and (b) they continue to evolve. We aren't necessarily consistent in directing folks to particular apps, but I'd like to get there. Thanks for the info @angela-li and @jacquelyneneal!

[2019-10-10 05:48] fmichonneau commented on #95
Adding GitHub Topics is not within the scope of the GitHub permissions for Maintainers. We are coordinating an effort to standardize GitHub Topics across all our repositories. We are seeking input and feedback from Maintainers on the list of proposed topics. Please see the Request For Comments (RFC) in this GitHub issue: https://github.com/carpentries/maintainer-RFCs/issues/5

[2019-10-10 05:48] #95 closed

[2019-10-10 17:00] colinquirk opened #97 "Update lesson to work with google sheets"
It's not clear to me if this lesson would work with google sheets out of the box, but considering there is a very small cost to getting google sheets working on your personal machine, I think it would be a nice alternative to libreoffice which has known issues reported in the lesson (e.g. different delimiters).

[2019-10-10 17:11] colinquirk opened #98 "num_membrs used to describe no_membrs column"
In 04-quality-assurance, num_membrs seems to be incorrectly used to describe the no_membrs column. I noticed this in the Restricting data to a numeric range section and in the final tip. The data seems to have no_membrs, so I'm assuming that is the correct name.

[2019-10-18 18:43] angela-li opened #99 "Typo in exercise: it's should be its"
In the Dates as data exercise here: http://datacarpentry.org/spreadsheets-socialsci/03-dates-as-data/#regional-date-formatting

[2019-10-18 18:44] angela-li commented on #97
Yes, agreed that Google Sheets may be a better alternative to LibreOffice. For data validation, Google Sheets also has more functionality.

[2020-01-23 18:19] chris-prener commented on #99
Thanks @angela-li - I'll fix this! Appreciate your patience...

[2020-01-23 18:20] chris-prener commented on #98
Thanks @colinquirk - I'll fix this! Appreciate your patience...

[2020-01-23 18:22] chris-prener commented on #94
#96 merged, so this can be closed!

[2020-01-23 18:22] #94 closed

[2020-01-23 18:22] chris-prener commented on #99
Fixed by #100 - thanks @burrowsdt and @angela-li !

[2020-01-23 18:22] #99 closed

[2020-01-23 18:25] chris-prener commented on #97
I like this suggestion @colinquirk, and thanks for your patience! I agree with @angela-li that it would be perhaps preferred over LibreOffice.

However, I'm not in a place to do the makeover myself. Is this something you would like to contribute to, @colinquirk ?

[2020-01-23 19:12] colinquirk commented on #97
Sorry, I don't think I'll be able to take this on. Maybe a new instructor will be interested in taking a shot.

[2020-01-23 20:29] chris-prener commented on #97
No worries @colinquirk !

[2020-02-07 02:52] kerchner commented on #97
Has anyone yet tried running through the material to at least determine at which points Google Sheets users would have to do something different?

[2020-02-07 14:54] chris-prener commented on #97
not that I am aware of, @kerchner!

[2020-02-15 07:49] sheraaronhurt opened #104 "Lesson Contribution"
This is being submitted on behalf of an instructor trainee for checkout procedure.

[01- Formatting data tables in spreadsheets.docx](https://github.com/datacarpentry/spreadsheets-socialsci/files/4207897/01-.Formatting.data.tables.in.spreadsheets.docx)

[2020-02-19 14:13] dolsysmith commented on #97
Having taught this lesson last week with Excel, I just ran through the demonstrations and exercises using Google Sheets. With one exception -- in the Data Validation lesson -- the functionality in Sheets tracks closely to Excel for this content. See my summary below:

- Lesson 2, Formatting Data Tables in Spreadsheets
  - SAFI_messy.xslx opens in Sheets with all of the formatting from the original

[2020-02-19 17:11] chris-prener commented on #97
thanks so much @dolsysmith - this is wonderful feedback! It looks like moving forward on a Google Sheets version of this is a viable option.

[2020-05-31 16:25] elletjies opened #108 "Safi_dates.xlsx date format issue"
While preparing the first tab (DD_MM_YY) interview_date variable does not allow for extraction of year, date or month.

The MM_DD_YEAR tab's interview_date variable is in the format of YY-MM-DD and this allows for extraction of year, date or month
--

[2020-06-01 17:23] chris-prener commented on #108
Hi @elletjies - so it sounds like that tab needs to be moved from `YY-MM-DD` to `MM-DD-YY`, correct?

[2020-06-01 18:10] elletjies commented on #108
In the lesson it asks you to choose as per your countries convention, for example South Africa will choose DD-MM-YY and US MM-DD-YY. The problem is the format of the first tab is really funny and I cant extract the year/month or date here (=year or =month or =day)

[2020-06-02 14:13] chris-prener commented on #108
ok gotcha - will have to take a closer look. if you have suggestions for making it workable, let me know!

[2020-06-02 15:13] elletjies commented on #108
@chris-prener will think how we can perhaps use the other datasets (already used in this lesson) to achieve the same outcome

[2020-06-02 18:19] chris-prener commented on #108
Great, will do the same @elletjies !

[2020-06-03 09:27] elletjies commented on #108
@chris-prener I edited the SAFI_dates file and it seems to be working now (well on my Excel). I did the following:

1. Updated the tab names so it is a correct reflection on what is going on in the data

2. Edited the data of the MM-DD-YY file so that year, month and day can be extracted.
[SAFI_dates.xlsx](https://github.com/datacarpentry/spreadsheets-socialsci/files/4722292/SAFI_dates.xlsx)

Shou

[2020-06-03 14:14] chris-prener commented on #108
OK - will check into this tomorrow @elletjies!

[2020-06-26 17:31] kekoziar opened #110 "Lesson Introduction"
A colleague suggested I teach this lesson, and so I'm reading through it to prepare.  When I started reading the text under "Problems with Spreadsheets" on the introduction page, I realized I started to repeat the content already presented above.  Also redundant are the five bullet-points of the lesson outline which are repeated twice on that page, and included on the lesson's home page; and, setu

[2020-06-26 18:38] kekoziar commented on #85
also in the metadata section of the second episode, I suggest the following changes to the paragraph preceding the one above

[2020-07-15 16:31] elletjies commented on #108
@chris-prener just checking in - did the changes to the file work?

[2020-08-06 12:33] lrskjr opened #114 "It is crucial whether you open "SAFI_clean" in an excel or in Calc"
Hi!

I'm confused. When I open the file with Excel I get one result, when I open the file with CalC I get another result!

It may be a good idea to point out that this problem may occur.

I imagine that people like to use excel, because they ofte have that program installed, but they get a totally wrong result.

As far as I can see, this is not a problem that a teacher can fix in a teaching situat

[2020-08-06 19:23] kekoziar commented on #92
Also, the same section states that "Instead, if a particular cell would fail the validation check a triangle is placed in the top left corner of the cell as a warning." which is incorrect.

[2020-08-06 19:25] kekoziar opened #115 "Quality assurance section: directions to get to data validation in Excel"
The description to get to data validation in Excel is incorrect. It refers to dropdown menus instead of the ribbon, so I expect it actually refers to open office or a very old version of Excel.

[2020-08-10 15:29] chris-prener opened #116 "Fall 2020 Work"
This builds on an initial call with @chris-prener and @burrowsdt about the status of the lesson.

Two major areas of focus were discussed:

1. Differences in spreadsheet applications, and various issues requesting clarification in how a particular app approaches an episode's materials (see PR #111, issues #115, #114, #97, #92, #82, #78 .
2. A proposed re-organization from 2019 that expands the tre

[2020-08-21 17:28] burrowsdt opened #119 "re-style episode titles"
Several episode titles do not currently use title case as requested in the [Lesson Style Guide](https://carpentries.github.io/lesson-example/06-style-guide/index.html). Correct the titles in the yaml headers for each episode.

[2020-08-30 19:16] bkmgit commented on #97
Made a pull request for a version using LibreOffice #121 . LibreOffice is also available as a cloud version through [Collabora Office](https://www.collaboraoffice.com/).  [Onlyoffice](https://www.onlyoffice.com/) is also available in the cloud, but the data validation section would need to be changed for this. [WPS Office](https://www.wps.com/) has an online version that at present is free to use

[2020-09-22 18:33] lvermeyden commented on #97
If help is still need to update the lesson to work with google sheets I am happy to assist with that.

[2020-09-23 16:44] lvermeyden opened #122 "suggestion for changing episode #2 description"
I noticed that the descriptions for episode #2 in the schedule (formatting data tables in spreadsheets) has the same description as #3 (formatting problems). I would like to suggest that the title for #2 be changed from "What are some common challenges with formatting data in spreadsheets and how can we avoid them?" to "What are some best practices for formatting data in spreadsheets and how can w

[2020-09-29 08:54] annajiat commented on #56
From https://datacarpentry.org
https://datacarpentry.org/openrefine-socialsci/reference.html
leads 404
but the following is present
https://github.com/datacarpentry/spreadsheets-socialsci/blob/gh-pages/reference.md

How do we correct this?

[2020-09-29 09:01] annajiat commented on #56
From https://datacarpentry.org
https://datacarpentry.org/spreadsheets-socialsci/reference.html
leads to 404
but the following is present
https://github.com/datacarpentry/spreadsheets-socialsci/blob/gh-pages/reference.md

How do we correct this?

[2020-09-29 12:16] chris-prener commented on #56
The correct url is - https://datacarpentry.org/spreadsheets-socialsci/reference/ @annajiat

[2020-09-29 12:54] annajiat commented on #56
Thanks @chris-prener
Could you please help with correcting URL mentioned at https://datacarpentry.org/lessons/#social-science-curriculum

[2020-09-29 18:31] chris-prener commented on #56
This is a concern that has to be addressed a bit higher up the Carpentries org structure than me, I'm afraid, @annajiat. I know this has been forwarded already by @brownsarahm (see https://github.com/datacarpentry/openrefine-socialsci/issues/75#issuecomment-700873844).

[2020-09-30 14:55] fmichonneau commented on #56
I think this can now be closed, please re-open if any issue remains.

[2020-09-30 14:55] #56 closed

[2020-10-10 21:25] jevbelikov opened #124 "Explicitly introduce tidy data principles"
The introduction mentions tidy data and provides references to papers, but it may be worth putting a small summary as bullet points. This would make the materials more self-contained. Often, during a workshop, the question what tidy data priciples are would come up anyway.

[2021-01-20 19:38] Talishask opened #130 "Lesson Contribution - Naming Consistency"
I'm a member of The Carpentries staff and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.
---
In the "Separating dates into components" section, the first sentence us to open the dates.xlsx file (see below). However, the actual filename is SAFI_dates.xlsx. The setup inst

[2021-02-16 16:51] #119 closed

[2021-02-16 18:03] #130 closed

[2021-02-17 06:06] U2NG opened #133 "Dates as Data Lesson: Dates stored as integers section 404 link"
The link in the yellow box section for "dates must be checked for accuracy when exporting data from Excel" link redirects to a 404: page not found.

[2021-02-19 17:49] burrowsdt commented on #133
This is a great catch - thanks for opening the issue. The correct link is [https://uc3.cdlib.org/2014/04/09/abandon-all-hope-ye-who-enter-dates-in-excel/](https://uc3.cdlib.org/2014/04/09/abandon-all-hope-ye-who-enter-dates-in-excel/) and the lesson will be updated shortly.

[2021-02-19 18:32] #133 closed

[2021-03-22 19:51] Talishask opened #135 "Lesson Contribution - SAFI subset"
I'm a member of The Carpentries staff and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.

----

In the "Data Organization in Spreadsheets for Social Scientists - Dates as Data", the assignment "Separating dates into components" starts with the file SAFI_dates.xlsx, a su

[2021-04-02 20:28] Talishask opened #136 "Lesson Contribution - Dates as Data & Exporting Data Episodes"
I'm a member of The Carpentries staff and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.

----
**Episode: Dates as Data**

I would suggest moving the text under Historical data to the Excel's date systems pin in the Dates stored as integers section. This would eliminate

[2021-04-12 10:56] burrowsdt commented on #136
Thanks for sharing these notes! I agree that integrating the Historical Data text into an earlier section on date systems makes sense. If anyone wants to take a stab at it and submit a pull request, please feel free -- otherwise I will work on it soon.

On adding dates/months/years together, including this would add new content to the lesson -- this is always an issue to consider because of time c

[2021-04-17 17:08] marioa opened #137 "02-common-mistakes link to "Nine simple ways to make it easier to (re)use your data" broken"
The current link gives a "Page not found". The following link works:

* https://ojs.library.queensu.ca/index.php/IEE/article/view/4608

[2021-04-21 13:30] burrowsdt commented on #137
Thanks @marioa  - if anyone wants to tackle this with a pull request, feel free! Otherwise I will make the change shortly.

[2021-04-22 15:35] #137 closed

[2021-07-22 19:01] burrowsdt opened #142 "Add speaker note to Instructor Notes"
The following speaker note was recently removed from the Formatting Data lesson but could be added to the Instructor Notes:

"Introduce the dataset that will be used in this lesson, and in the other Social Sciences lessons, the [Studying African Farmer-led Irrigation (SAFI) Dataset](http://www.datacarpentry.org/socialsci-workshop/data)."

[2021-07-22 19:40] #142 closed

[2022-01-20 14:21] annajiat opened #147 "Need jump lists (anchors) for headings"
@zkamvar
We need to update style for this lesson so that jump lists (anchors for different sections) becomes automatically available for different levels of headings.

[2022-11-30 08:51] tobyhodges opened #151 "Accessibility: replace screenshot of table with HTML table"
The table evaluating different choices of null values in [the _Using problematic null values_ section of the _Formatting Problems_ episode](https://datacarpentry.org/spreadsheets-socialsci/02-common-mistakes/index.html#-using-problematic-null-values) is currently a screenshot from the PDF of [the paper it was originally published in](https://ojs.library.queensu.ca/index.php/IEE/article/view/4608).

[2022-11-30 19:36] hoytpr commented on #151
Here is an HTML table of the screenshot submitted for [the spreadsheet ecology lesson#319](https://github.com/datacarpentry/spreadsheet-ecology-lesson/issues/319) .

[null_values_table.txt](https://github.com/datacarpentry/spreadsheets-socialsci/files/10126679/null_values_table.txt)